<div class="wrapper {{ source }}">
  <ng-container *ngIf="loading; else notLoading">
    <mat-spinner diameter="24"></mat-spinner>
  </ng-container>
  <ng-template #notLoading>
    <svg>
      <use [attr.xlink:href]="getProviderSvgName(provider)"></use>
    </svg>
    <span class="text">{{ text }}</span>
  </ng-template>
</div>
