<mat-form-field class="full-width" appearance="outline">
  <mat-label>{{placeholder}}</mat-label>
  <input
    class="background"
    readonly
    matInput
    [value]="value"
    data-test-dsn
  />
  <button
    mat-icon-button
    class="small-icon-button"
    [cdkCopyToClipboard]="value"
    (cdkCopyToClipboardCopied)="copied()"
    matTooltip="Copy key to clipboard"
    matSuffix
  >
    <mat-icon [class.dsn-copied]="copied$ | async">
      {{ (copied$ | async) ? "check_circle" : "file_copy" }}
    </mat-icon>
  </button>
</mat-form-field>
